POSTGRES_DB=cafemenu
POSTGRES_USER=cafemenu_user
POSTGRES_PASSWORD=change_me_for_local_dev
POSTGRES_PORT=5433

API_HTTP_PORT=8080
WEB_HTTP_PORT=8081

ASPNETCORE_ENVIRONMENT=Development

JWT_ISSUER=CafeMenu.Development
JWT_AUDIENCE=CafeMenu.Api
JWT_SIGNING_KEY=replace_with_local_development_key_at_least_32_chars
JWT_ACCESS_TOKEN_MINUTES=15
JWT_REFRESH_TOKEN_DAYS=14
